This script for saving our data in  database SQL (name database : data_project in sql)

In [49]:
#packaages for our script 
import pandas as pd 
import numpy as np 
import mysql.connector
from mysql.connector import Error

In [50]:
# etablish connexion from my script and my database sql in local
def connect_to_database(host, database, user, password):
    """ Connectez-vous à la base de données SQL. """
    try:
        connection = mysql.connector.connect(
            host=host,
            database=database,
            user=user,
            password=password
        )
        if connection.is_connected():
            db_info = connection.get_server_info()
            print("Connecté au serveur MySQL version", db_info)
            return connection
    except Error as e:
        print("Erreur lors de la connexion à MySQL:", e)
        return None

In [10]:
def main():
    db_connection = connect_to_database(
        host='localhost',
        database='data_project',
        user='root',
        password=''
    )

In [55]:
from sqlalchemy import create_engine

def connect_to_database(host, database, user, password):
    # Créez la chaîne de connexion pour SQLAlchemy
    connection_string = f"mysql+pymysql://{user}:{password}@{host}/{database}"
    engine = create_engine(connection_string)
    return engine

def main():
    # Connexion à la base de données
    db_connection = connect_to_database(
        host='localhost',
        database='data_project',
        user='root',
        password=''
    )

    # Lecture du fichier CSV
    pf = pd.read_csv('data_acc/carcteristiques-2022.csv', sep=';')
    ps = pd.read_csv('data_processed/sample_lieux-2022.csv')
    num_accident=[]
    num_accident=ps['Num_Acc']    
    resultat = pf[pf['Accident_Id'].isin(num_accident)]
    # Fusionner les DataFrames
    merged_df = pd.merge(resultat,ps, left_on='Accident_Id', right_on='Num_Acc', how='left')

# Afficher les premières lignes du DataFrame fusionné pour vérifier
    print(merged_df.head())
    merged_df.to_sql('data_4model', con=db_connection, index=False, if_exists='replace')
if __name__ == "__main__":
    main()

    Accident_Id  jour  mois    an   hrmn  lum dep    com  agg  int  ...  prof  \
0  202200000004    20    10  2022  18:00    1  16  16102    2    3  ...     2
1  202200000007    20    10  2022  21:00    5  13  13063    2    1  ...     1
2  202200000011    20    10  2022  06:20    5  09  09122    2    1  ...     2
3  202200000013    19    10  2022  19:30    3  03  03095    1    1  ...     1
4  202200000015    21    10  2022  03:16    5  75  75119    2    7  ...     1

    pr  pr1 plan lartpc  larrout  surf infra  situ vma
0  (1)  (1)    1    NaN        4     1     0     1  30
1    0    0    1    NaN       -1     1     0     1  50
2   38  522    1    NaN       -1     2     0     4  70
3    5  370    1    NaN       -1     1     0     1  90
4  (1)  (1)    2    NaN       -1     2     0     1  30

[5 rows x 33 columns]

In [42]:
pf = pd.read_csv('data_acc/carcteristiques-2022.csv', sep=';')
ps = pd.read_csv('data_processed/sample_lieux-2022.csv')
num_accident=[]
num_accident=ps['Num_Acc']    
resultat = pf[pf['Accident_Id'].isin(num_accident)]

In [43]:
# Fusionner les DataFrames
merged_df = pd.merge(resultat,ps, left_on='Accident_Id', right_on='Num_Acc', how='left')

# Afficher les premières lignes du DataFrame fusionné pour vérifier
print(merged_df.head())

    Accident_Id  jour  mois    an   hrmn  lum dep    com  agg  int  ...  prof  \
0  202200000004    20    10  2022  18:00    1  16  16102    2    3  ...     2
1  202200000007    20    10  2022  21:00    5  13  13063    2    1  ...     1
2  202200000011    20    10  2022  06:20    5  09  09122    2    1  ...     2
3  202200000013    19    10  2022  19:30    3  03  03095    1    1  ...     1
4  202200000015    21    10  2022  03:16    5  75  75119    2    7  ...     1

    pr  pr1 plan lartpc  larrout  surf infra  situ vma
0  (1)  (1)    1    NaN        4     1     0     1  30
1    0    0    1    NaN       -1     1     0     1  50
2   38  522    1    NaN       -1     2     0     4  70
3    5  370    1    NaN       -1     1     0     1  90
4  (1)  (1)    2    NaN       -1     2     0     1  30

[5 rows x 33 columns]

In [52]:

# Stockage du dataframe dans la base de données
merged_df.to_sql('caractestique_1', con=db_connection, index=False, if_exists='replace')

if __name__ == "__main__":
    main()

NameError: name 'db_connection' is not defined